body,ul{
    margin:0;
}

li{
    list-style-type: none
}

a{
    text-decoration: none;
    padding:20px;
    display:block
}

ul{
    display:flex;
    justify-content: space-between;
    padding: 0 20%
}

nav{
    background-color: rgb(255, 116, 51);
    position:fixed;
    width:100%;
    top:0;
}


h1{
    font-size:80px
}

header div{
    height:65vh;
    display:flex;
    align-items: center;
}


header{
    background-image: url('../images/fond1.jpg');
    background-size: cover;
    background-position: center;
    margin-top:58px
}

main{
    margin-top: -50px;
}

main>section{
    padding: 50px 200px;
}

#section-1{
    padding-top:0;
    display:flex;
    justify-content: space-between;
}

#section-1 section{
    border: 1px solid rgba(0,0,0,.125);
    width: 30%;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0,0,0,.125);
    background-color: #ffffff;
    text-align:center
}

#section-1 p{
    text-align: justify;
}
img{
    width:50%;
    height:auto
}
#div{
    display:flex
}
h2{
    text-align:center
}

.impair{
    background-color: #e3e3e3;
}

#div div{
    background-color:white;
    align-self: center;
    padding: 15px;
    margin-left:-50px;
    box-shadow: 0 10px 10px rgba(0,0,0,.125);
    border: 1px solid rgba(0,0,0,.125);
}